$color-violet-primary: #1b1c57;
$color-violet-secondary: #68799f;
$color-violet-third: #626687;
$color-violet-fourth: #888b97;

$color-green-primary: #047857;
$color-green-secondary: #10b981;
$color-green-third: #4be4c9;
$color-green-fourth: #d1fae5;

$color-blue-primary: #0e1735;
$color-blue-secondary: #1d4ed8;
$color-blue-third: #3c4563;
$color-blue-fourth: #dbeafe;
$color-blue-fifth: #3b82f6;

$color-white-primary: #ffffff;
$color-white-secondary: #f0f3fd;
$color-white-third: #e0e3eb;

$color-red-primary: #ef4444;
$color-red-secondary: #fee2e2;

$color-orange-primary: #f59e0b;

$color-dark-primary: rgba(8, 8, 8, 0.3);
$color-dark-secondary: rgba(51, 51, 51, 0.06);
$color-dark-third: rgba(255, 255, 255, 0.1);
$color-dark-fourth: rgba(255, 255, 255, 0.3);

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
