$color-text-primary: #1b1c57;
// $color-brand-light: rgb(243 198 83 / 0.7);
// $color-brand-translucent: rgb(243 198 83 / 0.7);
$color-orange: #f59e0b;
$color-green: #4be4c9;
$color-button-dark: #047857;
$color-button-light: #d1fae5;

// $color-text: #7a7a7a;
// $color-text-dark: #5f5f5f;
// $color-text-light: #bababa;
// $color-text-modal: #808080;
// $color-title-light: #b4b4b4;
// $color-address: #e5e5e5;
// $color-dark-grey: #494848;
// $color-mid-grey: #828282;
$color-white: #fff;
// $color-black: #000;

$bg-light: #f0f3fd;
// $bg-dark: #f0ecd6;
// $bg-footer: #0e0c07;
$bg-button: rgba(255, 255, 255, 0.1);
$bg-border: rgba(255, 255, 255, 0.3);
$backdrop: rgba(8, 8, 8, 0.3);

// $header-shade: linear-gradient(
//   180deg,
//   #000 0%,
//   rgb(0 0 0 / 0.55) 54.17%,
//   rgb(0 0 0 / 0) 100%
// );

// $border-radius-small: 2px;
// $border-radius-big: 25px;

// $transition-time: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
