<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__container">
    <button
      class="button-menu-close js-close-menu"
      type="button"
      aria-label="Перемикач мобільного меню"
    >
      <svg width="40" height="40">
        <use href="./images/icons.svg#icon-close-menu"></use>
      </svg>
    </button>
    <ul class="mobile-nav">
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="">About Us</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="">Article</a>
      </li>
      <li class="mobile-nav__item">
        <a class="mobile-nav__link" href="">Property:</a>
        <ul class="mobile-nav__list-prop">
          <li><a class="mobile-nav__link" href="">House</a></li>
          <li><a class="mobile-nav__link" href="">Villa</a></li>
          <li><a class="mobile-nav__link" href="">Apartment</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
