<section class="section-recommendation">
  <div class="container">
    <p class="slogan">Our Recommendation</p>
    <div class="recommendation__header">
      <h2 class="recommendation__title">Featured House</h2>
      <ul class="recommendation__filter-list">
        <li>
          <button type="button" class="recommendation__filter-btn active">
            <svg class="recommendation__filter-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-house"></use>
            </svg>
            House
          </button>
        </li>
        <li>
          <button type="button" class="recommendation__filter-btn">
            <svg class="recommendation__filter-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-villa"></use>
            </svg>
            Villa
          </button>
        </li>
        <li>
          <button type="button" class="recommendation__filter-btn">
            <svg class="recommendation__filter-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-apartment"></use>
            </svg>
            Apartment
          </button>
        </li>
      </ul>
      <div class="recommendation-btn">
        <button type="button" class="recommendation-swiper-button-prev">
          <svg width="28" height="28">
            <use href="./images/icons.svg#icon-arrow-prev"></use>
          </svg>
        </button>
        <button type="button" class="recommendation-swiper-button-next">
          <svg width="28" height="28">
            <use href="./images/icons.svg#icon-arrow-next"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="recommendation-swiper swiper">
      <div class="recommendation-swiper-wrapper swiper-wrapper"></div>
    </div>
  </div>
</section>
