<section class="section-subscribe">
  <div class="container">
    <div class="section-subscribe__content">
      <h2 class="section-subscribe__title">
        Subscribe For More Info and update from Hounter
      </h2>
      <form>
        <div class="section-subscribe__form-box">
          <svg class="section-subscribe__icon" width="24" height="24">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
          <input
            class="section-subscribe__input"
            type="email"
            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required
            placeholder="Your email here"
          />
          <button class="button section-subscribe__button" type="submit">
            Subsribe Now
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
