<section class="section-tipsAndTrick">
  <div class="container">
    <p class="slogan slogan--center">See tips and trick from our partnership</p>
    <h2 class="tipsAndTrick__title">
      Find out more about selling and buying homes
    </h2>
    <button class="button tipsAndTrick__button" type="button">
      More Artikel
    </button>
    <div class="tipsAndTrick__box">
      <ul class="tipsAndTrick__list">
        <li class="tipsAndTrick__item">
          <img
            loading="lazy"
            src="./images/image-tips-and-trick/first.jpg"
            alt="house"
            width="200"
          />
          <div>
            <div class="inform-card__specialist">
              <img
                loading="lazy"
                src="./images/avatars/avatar-dianne.png"
                alt="user-avatar"
                width="32"
              />
              <h4>Dianne Russell</h4>
            </div>
            <h3 class="inform-card__title">
              The things we need to check when we want to buy a house
            </h3>
            <p class="inform-card__time">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-time"></use>
              </svg>
              4 min read | 25 Apr 2021
            </p>
          </div>
        </li>
        <li class="tipsAndTrick__item">
          <img
            loading="lazy"
            src="./images/image-tips-and-trick/second.jpg"
            alt="house"
            width="200"
          />
          <div>
            <div class="inform-card__specialist">
              <img
                loading="lazy"
                src="./images/avatars/avatar-courtney.png"
                alt="user-avatar"
                width="32"
              />
              <h4>Courtney Henry</h4>
            </div>
            <h3 class="inform-card__title">
              7 Ways to distinguish the quality of the house we want to buy
            </h3>
            <p class="inform-card__time">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-time"></use>
              </svg>
              6 min read | 24 Apr 2021
            </p>
          </div>
        </li>
        <li class="tipsAndTrick__item">
          <img
            loading="lazy"
            src="./images/image-tips-and-trick/third.jpg"
            alt="house"
            width="200"
          />
          <div>
            <div class="inform-card__specialist">
              <img
                loading="lazy"
                src="./images/avatars/avatar-darlene.png"
                alt="user-avatar"
                width="32"
              />
              <h4>Darlene Robertson</h4>
            </div>
            <h3 class="inform-card__title">
              The best way to know the quality of the house we want to buy
            </h3>
            <p class="inform-card__time">
              <svg width="24" height="24">
                <use href="./images/icons.svg#icon-time"></use>
              </svg>
              2 min read | 24 Apr 2021
            </p>
          </div>
        </li>
      </ul>
      <div class="inform-big-card">
        <img
          class="inform-big-card__image"
          loading="lazy"
          src="./images/image-tips-and-trick/big.jpg"
          alt="house"
          width="560"
          height="280"
        />
        <div>
          <div class="inform-card__specialist">
            <img
              loading="lazy"
              src="./images/avatars/avatar-cameron.png"
              alt="user-avatar"
              width="32"
            />
            <h4>Cameron Williamson</h4>
          </div>
          <h3 class="inform-card__title">
            12 Things to know before buying a house
          </h3>
          <p class="inform-big-card__text">
            Want to buy a house but are unsure about what we should know, here I
            will try to explain what we should know and check when we want to
            buy a house
          </p>
          <p class="inform-card__time">
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-time"></use>
            </svg>
            8 min read | 25 Apr 2021
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
