<section class="section-readyToSell">
  <div class="container">
    <img
      class="vector-red"
      src="./images/image-ready-sell/vector-red.png"
      alt="vector-red"
    />
    <img
      class="vector-yellow"
      src="./images/image-ready-sell/vector-yellow.png"
      alt="vector-yellow"
    />
    <p class="slogan slogan--section-readyToSell">Ready-To-Sell</p>
    <div class="readyToSell-swiper swiper">
      <div class="readyToSell-swiper-wrapper swiper-wrapper"></div>
    </div>
  </div>
</section>
