<section class="section-hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__titel">
        find the place to live
        <span class="hero__titel--decor">your dreams</span>
        easily here
      </h1>
      <p class="hero__text">
        Everything you need about finding your place to live will be here, where
        it will be easier for you
      </p>
      <form>
        <div class="box-hero-input">
          <input
            class="hero__input"
            type="search"
            name="search"
            placeholder="Search for the location you want!"
          />
          <svg class="hero__input-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          <button class="hero__input-button" type="submit">
            Search
            <svg width="24" height="24">
              <use href="./images/icons.svg#icon-eva_arrow"></use>
            </svg>
          </button>
        </div>
      </form>
      <div class="block-partner">
        <h3 class="block-partner__titel">Our Partnership</h3>
        <div class="block-partner__logo">
          <img src="./images/image-hero/traveloka.png" alt="logo-traveloka" />
          <img src="./images/image-hero/tiket.png" alt="logo-tiket" />
          <img src="./images/image-hero/airbnb.png" alt="logo-airbnb" />
          <img
            src="./images/image-hero/tripadvisor.png"
            alt="logo-tripadvisor"
          />
        </div>
      </div>
    </div>
    <div class="color-blur">
      <img src="./images/blurs/color-blur.png" alt="Gradient" />
    </div>
  </div>
  <div class="hero__swiper swiper">
    <div class="hero__swiper-wrapper swiper-wrapper"></div>
  </div>
</section>
