<div class="hero__swiper swiper">
  <!-- Additional required wrapper -->
  <div class="hero__swiper-wrapper swiper-wrapper">
    <!-- Slides -->
    <div class="hero__swiper-slide swiper-slide">
      <div class="box-inform">
        <img
          class="box-inform__user-avatar"
          src="./images/image-hero/user.jpg"
          alt="user-avatar"
          width="54"
        />
        <div>
          <h3 class="box-inform__fitback">1K+ People</h3>
          <p class="box-inform__text">Successfully Getting Home</p>
        </div>
      </div>
    </div>
    <div class="hero__swiper-slide swiper-slide">
      <div class="box-inform">
        <img
          class="box-inform__user-avatar"
          src="./images/image-hero/user.jpg"
          alt="user-avatar"
          width="54"
        />
        <div>
          <h3 class="box-inform__fitback">56 Houses</h3>
          <p class="box-inform__text">Sold Monthly</p>
        </div>
      </div>
    </div>
    <div class="hero__swiper-slide swiper-slide">
      <div class="box-inform">
        <img
          class="box-inform__user-avatar"
          src="./images/image-hero/user.jpg"
          alt="user-avatar"
          width="54"
        />
        <div>
          <h3 class="box-inform__fitback">4K+</h3>
          <p class="box-inform__text">People Looking for New Homes</p>
        </div>
      </div>
    </div>
    <div class="hero__swiper-slide swiper-slide">
      <div class="box-inform">
        <img
          class="box-inform__user-avatar"
          src="./images/image-hero/user.jpg"
          alt="user-avatar"
          width="54"
        />
        <div>
          <h3 class="box-inform__fitback">10K+ People</h3>
          <p class="box-inform__text">Successfully Getting Flat</p>
        </div>
      </div>
    </div>
    <div class="hero__swiper-slide swiper-slide">
      <div class="box-inform">
        <img
          class="box-inform__user-avatar"
          src="./images/image-hero/user.jpg"
          alt="user-avatar"
          width="54"
        />
        <div>
          <h3 class="box-inform__fitback">6K+ People</h3>
          <p class="box-inform__text">Successfully Getting Villa</p>
        </div>
      </div>
    </div>
  </div>
</div>
